<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Registration Form</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<p th:text="${msg}" style="color:green;"></p>
	<div class="container mt-5">
		<h2 class="mb-4">Counselor Login Form</h2>
		<form th:action="@{validation}" th:object="${counsellor}" method="post">
		
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="cemail" name="email" th:field="*{email}" required>
			</div>
				<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
		

			
			<button type="submit" class="btn btn-primary">Sign in</button>
		</form>
	</div>
	<div>
		<h4>I don't have a account?<a href="/register">Register</a></h4> <br>
		<h4> forgot password?<a href="/forgotpwd">click here</a></h4>
		
	</div>

	<!-- Bootstrap JS and jQuery (for Bootstrap functionalities) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>