<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
	<div class="container">

		<h1>ALL PRODUCT DETAILS</h1>
		<a href="newProduct" class="btn btn-primary mb-3">Add New product</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ProductId</td>
					<td>ProductName</td>
					<td>ProductPrice</td>
					<td>ProductQty</td>
					<td>Date</td>
					<td>Image</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${products}">
					<td th:text="${p.productId}"></td>
					<td th:text="${p.productName}"></td>
					<td th:text="${p.productPrice}"></td>
					<td th:text="${p.productQty}"></td>
					<td th:text="${p.date}"></td>
					<td th:text="${p.image}"></td>
					<td>
						<a th:href="@{/update(productId=${p.productId})}" class="btn btn-secondary">Update</a>
						<a th:href="@{/delete(productId=${p.productId})}" class="btn btn-danger" onclick="return confirm('Are You Sure ?')">Delete</a>
					</td>
				</tr>
				<tr th:if="${products.isEmpty()}">
					<td colspan="6">No Records Found</td>
				</tr>

			</tbody>
		</table>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>